<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body style="margin-left: 200px">

<h2>添加文章：</h2>
<form action="" method="post">
    {% csrf_token %}
    <label for="title">文章标题：</label>
    <input id='title' name='title' style="width: 300px" type="text">
    <p></p>
    <label for="category" class="control-label">文章分类：</label>
    <select id="category" style="width: 100px;display: inline" class="form-control" name="category">
        <option value="1">技术类</option>
        <option value="2">情感类</option>
        <option value="3">聊骚类</option>

    </select>
    <p></p>
    <span>文章标签：</span>

    <label class="checkbox-inline">
        <input name="tag" type="checkbox" id="inlineCheckbox1" value="1"> WEB
    </label>
    <label class="checkbox-inline">
        <input name="tag" type="checkbox" id="inlineCheckbox2" value="2"> CSS
    </label>
    <label class="checkbox-inline">
        <input name="tag" type="checkbox" id="inlineCheckbox3" value="3"> PYTHON
    </label>
    <label class="checkbox-inline">
        <input name="tag" type="checkbox" id="inlineCheckbox2" value="4"> MYSQL
    </label>
    <label class="checkbox-inline">
        <input name="tag" type="checkbox" id="inlineCheckbox3" value="5"> else
    </label>

    <p></p>
    <textarea name="article" id="article" cols="30" rows="10"></textarea>
    <p></p>
    <input class="btn btn-info" type="submit">
</form>

<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>

<script>
    KindEditor.ready(function (K) {
        window.editor = K.create('#article', {
            width: '1100',
            height: '500',
            resizeType: 0,
            uploadJson: '/upload/',
            extraFileUploadParams: {
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
            },
            filePostName: "upload_img"
        });
    });
</script>

</body>
</html>